#!/usr/bin/env python

from flask import (Flask, request)
from flask_restful import (Resource, Api)

app = Flask(__name__)
api = Api(app)

{% for endpoint in endpoints.items() %}
class {{endpoint[0].strip('/')}}(Resource):
    {% for method in endpoint[1] %}
    def {{method}}(self):
        '''
        {{method}} method handler.
        {{endpoint[1].get(method).description}}
        '''
        return {{endpoint[1].get(method).get('responses')|find_example}}
    {% endfor %}
{% endfor %}

{% for endpoint in endpoints.items() %}
api.add_resource({{endpoint[0].strip('/')}}, '/{{endpoint[0].strip('/')}}/')
{% endfor %}

if __name__ == '__main__':
    app.run(debug=True)